<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/alpinejs" defer></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <title>TODO APPLICATION</title>
</head>

<body>
  <header class="bg-white shadow-lg p-4">
    <div class="container mx-auto flex justify-between items-center">
      <!-- Logo -->
      <div>
        <a href="#" class="text-xl font-bold text-gray-800">TODO APPLICATION</a>
      </div>
      <!-- Login/Signup Links -->
      <nav>

        <div class=" ">
          <a href="/login" class="w-full px-6 py-2 mr-0 text-gray-700 md:px-3 md:mr-2 lg:mr-3 md:w-auto">Sign In</a>
          <a href="/register" class="w-full px-6 py-2 mr-0 text-gray-700 md:px-3 md:mr-2 lg:mr-3 md:w-auto">Sign Up</a>
          <!-- <a href="#_"
                  class="px-2 py-2 text-white bg-gray-900 md:w-auto md:rounded-full hover:bg-gray-800 focus:outline-none md:focus:ring-2 focus:ring-0 focus:ring-offset-2 focus:ring-gray-800">Sign
                  Up</a> -->
        </div>
      </nav>
    </div>
  </header>
  <div class="w-[500px] mx-auto">
    <div class="border rounded-lg shadow-sm bg-card text-neutral-900">
      <div class="flex flex-col space-y-1.5 p-6">
        <h1 class="py-8 text-4xl font-black">Organize your work and life, finally.</h1>
        <p class="text-sm text-black-500">Become focused, organized, and calm with Todoist. The world’s #1 task manager and to-do list app.</p>
      </div>
      <!-- <form action="/auth" method="post">
        <div class="p-6 pt-0 space-y-2">
          <div class="space-y-1"><label
              class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
              for="name">Name</label><input type="text" placeholder="Email" id="name" name="email"
              class="flex w-full h-10 px-3 py-2 text-sm bg-white border rounded-md peer border-neutral-300 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-neutral-400 disabled:cursor-not-allowed disabled:opacity-50" />
          </div>
          <div class="space-y-1"><label
              class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
              for="username">Username</label><input type="text" placeholder="Password" id="username" name="password"
              class="flex w-full h-10 px-3 py-2 text-sm bg-white border rounded-md peer border-neutral-300 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-neutral-400 disabled:cursor-not-allowed disabled:opacity-50" />
          </div>
        </div>
      
      <div class="flex items-center p-6 pt-0"><button type="button" type="submit"
          class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium tracking-wide text-white transition-colors duration-200 rounded-md bg-neutral-950 hover:bg-neutral-900 focus:ring-2 focus:ring-offset-2 focus:ring-neutral-900 focus:shadow-outline focus:outline-none">Login
          Now</button></div>
    </div>
    </form> -->


  </div>
</body>

</html>